<div class="container">

  <!-- label -->
  <span *ngIf="!!items.label" (click)="toggleDropdown()" class="label">
    <span [class.rotated]="isOpen">{{'>'}}</span><span [innerHTML]="items.label"></span>
  </span>
  
  <!-- dropdown -->
  <div class="dropdown" [class.open]="isOpen" [class.closed]="!isOpen">
    <div class="dropdown-display"  [class.no-label]="!items.label" *ngFor="let option of items.options">

      <!-- option.display -->
      <span *ngIf="isItem(option)" class="dropdown-display-label">
        <span role="button" (click)="onClickItem.emit(asOption(option).id)">
          <span class="hidden">{{'>'}}</span><span [innerHTML]="asOption(option).display"></span>
        </span>
      </span>

      <!-- dropdown recursive -->
      <pw-dropdown-recursive 
        *ngIf="isDropdown(option)" 
        [items]="asDropdownItem(option)"
        (onClickItem)="onClickItem.emit($event)"
        [class.no-label]="!items.label"
      >
      </pw-dropdown-recursive>

    </div>
  </div>
</div>
