.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  .label {
    cursor: pointer;
    span {
      display: inline-block;
      transition: transform 0.1s ease;
      
      &.rotated {
        transform: rotate(90deg);
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1);

    &.open {
      max-height: 1000px; /* large enough for content */
      transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &.closed {
      max-height: 0;
      transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dropdown-display {
      padding: 4px 16px;
      cursor: pointer;

      .hidden {
        visibility: hidden;
      }

      &.no-label {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}