.dropdown-recursive-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  .dropdown-label {
    cursor: pointer;
    span {
      display: inline-block;
      transition: transform 0.1s ease;

      &.point-down {
        transform: rotate(90deg);
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1);

    &.dropdown-open {
      // large enough for content 
      max-height: 1000px;
      transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &.dropdown-close {
      max-height: 0;
      transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dropdown-display {
      padding: 4px 12px;

      .option-display {
        cursor: pointer;
      }

      .pointer-hidden {
        visibility: hidden;
      }

      &.no-label {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
